.App {
  text-align:left;
}
body {
  background-color: #282c34;
}
a:link, a:visited {
  background-color: #20b186;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

a:hover, a:active {
  background-color: #136b50;
}

.M-logo {
  height: 20vmin;
  pointer-events: none;
}
.C-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.FormGrid {
  background-color: #136b50;
  text-align: left;
}

.NameCss {
  font-size:24px;
}
.InstructionsCss {
  font-size:16px;
  text-align: left;
}
.spinnerCss {
  height: 50px;
  width: 50px;
}

.summaryCss {
  background-color: #282c34;
  width: 90%;
  height: 90%;
  color: white;
  align-items: center;
 
}

.iframeCss {
  padding: 20px;
border: 1 px white;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);
}

.chartsCss {
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
  border: none;
  padding: 20px;
  margin: 100px;
}